@import 'imports/normalize';
@import 'imports/skeleton';
@import 'imports/colors';
// @import 'imports/config';
@import url(https://fonts.googleapis.com/css?family=Life+Savers);
@import url(https://fonts.googleapis.com/css?family=Unkempt|Text+Me+One|Roboto);



body {
  background-color: $black;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caveat Brush', cursive;
}



button {
  border-radius: 0;
  border: 1px solid $white;
  color: $white;
  transition: all 0.3s ease;
  &:hover {
    color: $yellowhighlight;
    border: 1px solid $bluehighlight;
  }
}

.section {
  padding: 8rem 0 7rem;
  .section-heading {
    color: $white;
    transition: all 0.4s ease;
  }
  &:hover {
    .section-heading {
      color: $red;
    }
  }
}

//NAV BAR//
.nav-bar {
  z-index: 1000;
  position: fixed;
  border: 1px solid $white;
  width: calc(100% - 2px);
  background-color: rgba($black, 0.9);
  ul {
    list-style-type: none;
  }
  .name:hover {
    color: $yellow;
  }
  li.highlight {
    margin: 0;
    display: block;
    float: left;
    width: 10.5%;
    text-align: center;
    padding: 2rem 0;
    color: $white;
    cursor: pointer;
    p {
      display: block;
      margin: 0;
      border-bottom: 2px solid rgba($black, 0);
      border-top: 2px solid rgba($black, 0);
    }
    .icon {
      display: block;
      height: 32px;
      position: relative;
      top: 7px;
      transition: all 0.3s ease;
    }
    .label {
      display: none;
      margin: 0;
      color: $yellow;
      transition: all 0.3s ease;
    }
    &.hovered {
      .icon {
        display: none;
      }
      .label {
        display: block;
        border-bottom: 2px solid $blue;
        border-top: 2px solid $blue;
      }
    }
    &:hover {
      .icon {
        display: none;
      }
      .label {
        display: block;
        opacity: 1;
      }
    }
  }
  li.contacts {
    display: block;
    float: right;
    padding: 2rem 1rem calc(2rem + 4px) 1rem;
    margin: 0;
    border-left: solid 1px $white;
    a {
      margin: 0 1rem;
      cursor: pointer;
      color: $white;
      transition: all 0.2s ease;
      &:hover {
        color: $yellow;
      }
    }
  }
}


.photo {
  margin-top: 78px;
  padding: 0;
  position: relative;
  img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .photo-backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($black, 0.6);
    padding: 10rem 0 10rem 8%;
    transition: all 0.3s ease;
    display: block;
    .headline {
      font-size: 11rem;
    }
    .headline, .tagline {
      transform: rotate(0);
      color: $white;
      transition: all 0.2s ease;
    }
    &:hover {
      .headline {
        -ms-transform: rotate(2deg); /* IE 9 */
        -webkit-transform: rotate(2deg); /* Safari */
        color: $blue;
      }
      .tagline {
        -ms-transform: rotate(-2deg); /* IE 9 */
        -webkit-transform: rotate(-2deg); /* Safari */
        transform: rotate(-2deg);
        color: $yellow;
      }
    }
  }
}



.about-me {
  color: $white;
}

.video-holder {
  display: block;
  float: left;
  width: calc(100% / 3);
  margin: 0;
  padding: 0;
  height: 350px;
  opacity: 0;
  position: relative;
  background-color: black;
  iframe {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(1); /* Old WebKit */
    filter: grayscale(1);
    transition: -webkit-filter 0.8s ease;
    &:hover {
      -webkit-filter: grayscale(0); /* Old WebKit */
      filter: grayscale(0);
    }
    .play:hover {
      background-color: $blue;
    }
  }
  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-filter: grayscale(1); /* Old WebKit */
    filter: grayscale(1);
    transition: -webkit-filter 0.8s ease;
    &:hover {
      -webkit-filter: grayscale(0); /* Old WebKit */
      filter: grayscale(0);
    }
  }
}

.photo, .fox9, .jasonShow, .film {
  padding-bottom: 0;
  box-shadow: 0px 36px 84px -16px rgba($white, 0.15);
}

.skills-container {
  overflow: hidden;
  // height: 600px;
  // &.rotate {
  //   transform: rotate(90deg);
  //   margin-right: 70px;
  // }
  &.down {
    height: 600px;
  }
  .skills-title{
    position: absolute;
    top: -620px;
    left: calc(100% - 6rem);
    h2 {
      color: $white;
      width: 2rem;
      word-wrap: break-word;
    }
    &.down {
      right: calc(100% - 6rem);
      left: 0;
    }
  }
  .slideRight {
    position: relative;
    top: 0;
    left: -80%;
    background: linear-gradient(to bottom right, $blue, $red);
    margin: 2rem 0;
    color: $white;
    padding: 1rem 2rem;
    &.five {
      width: 75%;
    }
    &.four {
      width: 60%;
    }
    &.three {
      width: 45%;
    }
    &.two {
      width: 30%;
    }
    &.one {
      width: 15%;
    }
    p {
      margin: 0;
    }
  }
  .slideDown {
    position: relative;
    float: left;
    width: 1rem;
    top: -620px;
    left: 6rem;
    background: linear-gradient(to bottom right, $blue, $red);
    margin: 0 4rem 0 0;
    color: $white;
    padding: 1rem 2rem;
    &.five {
      height: 100%;
    }
    &.four {
      height: 80%;
    }
    &.three {
      height: 60%;
    }
    &.two {
      height: 40%;
    }
    &.one {
      height: 20%;
    }
    p {
      transform: rotate(90deg);
      margin: 20px 0 0 -30px;
      width: 70px;
    }
  }
}

@keyframes color-fade {
  0% {
    color: $white;
  }
  25% {
    color: $yellow;
  }
  50% {
    color: $red;
  }
  75% {
    color: $blue;
  }
  100% {
    color: $white;
  }
}
