@import 'imports/normalize';
@import 'imports/skeleton';
@import 'imports/colors';
// @import 'imports/config';
@import url(https://fonts.googleapis.com/css?family=Life+Savers);
@import url(https://fonts.googleapis.com/css?family=Unkempt|Text+Me+One|Roboto);



body {
  background-color: $black;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caveat Brush', cursive;
}

button {
  border-radius: 0;
  border: 1px solid $white;
  color: $white;
  transition: all 0.3s ease;
  &:hover {
    color: $yellowhighlight;
    border: 1px solid $bluehighlight;
  }
}
//NAV BAR//
.nav-bar {
  z-index: 1000;
  position: fixed;
  border: 1px solid $white;
  width: 100%;
  background-color: rgba($black, 0.6);
  ul {
    list-style-type: none;
  }
  li {
    margin: 0;
    display: block;
    float: left;
    width: 12%;
    text-align: center;
    padding: 2rem 0;
    color: $white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $yellow;
      background-color: rgba($blue, 0.6);
    }
  }


}

.section {
  padding: 20rem 0 19rem;
}



.photo {
  position: relative;
  top: 73.33px;
  background-image: url('../images/splashPicBW.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  // -webkit-filter: grayscale(100%);
	// filter: grayscale(100%);
}

.photo-backdrop {
  background-color: rgba($black, 0.6);
  padding: 10rem 0 10rem 8%;
}

.about-me {
  .section-heading {
    color: $red;
  }
  color: $white;
}
