@import 'imports/normalize';

@import 'imports/config';

@import 'imports/mixins';
@import 'imports/responsive';

@import url(https://fonts.googleapis.com/css?family=Life+Savers);
@import url(https://fonts.googleapis.com/css?family=Unkempt|Text+Me+One|Roboto);
@import 'imports/grid';
@import 'imports/type';

body {
  background: linear-gradient($black, $white);
}

nav {
  width: 10%;
  margin: 1.5%;
  display: block;
  position: fixed;
  background-color: $yellowBackground;
  border: 1px $yellowDark solid;
  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
  }
  li {
    display: block;
    padding: 16px 0;
    width: 100%;
    color: $black;
    font-size: 24px;
    font-weight: lighter;
    -webkit-transition: all 400ms;
      -moz-transition: all 400ms ;
        -o-transition: all 400ms ;
            transition: all 400ms;
    &:hover {
      background-color: $yellowDark;
      cursor: pointer;
    }
    &:active {
      background-color: $yellowBackground;
      color: $yellowDark;
    }
  }
}

.title {
  width: 100%;
  background-color: $redBackground;
  color: $white;
}

.name {
  height: 500px;
  padding-top: 200px;
  .tagline {
    width: 45%;
    height: 200px;
    margin: 20px auto;
    font-family: 'Unkempt', serif;
    p, .first, .period {
      margin: 0;
      text-align: right;
    }
    .story-container {
      display: block;
      float: left;
      width: 31%;
      padding-right: 1%;
      .first {
        margin-top: -20px;
        font-size: 40px;
        color: $yellow;
      }
    }
    .period-container {
      display: block;
      float: left;
      width: 65%;
      .period {
        margin-top: -20px;
        font-size: 62px;
        color: $red;
      }
    }
  }
}

.profile {
  .splash {
    width: 100%;
    margin: 20px 0;
  }
  p {
    font-size: 24px;
  }
}

.work {
  nav {
    margin: 20px 0;
    position: static;
    width: 100%;
    ul {
      height: 70px;
      display: block;
    }
    li {
      width: calc(100% / 5);
      display: block;
      float: left;
    }
  }
  .work-view {
    width: 100%;
  }
  &:nth-child(4):before, &:nth-child(4):after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
  }
  &:nth-child(4):after {
    clear: both;
  }
  .showing {
    display: block;
    width: 100%;
  }
  .work-holder {
    width: calc(23% - 2px);
    height: 400px;
    overflow-y: scroll;
    margin: 10px 1%;
    display: block;
    float: left;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $black;
    .work-slideover {
      // display: none;
      width: 100%;
      height: 400px;
      position: relative;
      top: 200px;
      background: linear-gradient($black, $white);
      opacity: 0.8;
      color: $white;
      -webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.5, 1);
        -moz-transition: all 500ms cubic-bezier(0.5, 0, 0.5, 1);
          -o-transition: all 500ms cubic-bezier(0.5, 0, 0.5, 1);
            transition: all 500ms cubic-bezier(0.5, 0, 0.5, 1);
      z-index: 100;
      p {
        margin: 10px auto;
        width: 90%;
        display: block;
      }
    }
    &:hover > .work-slideover {
      top: -320px;
      // display: block;
    }
    img {
      margin: 10px auto;
      width: 90%;
      display: block;
      z-index: -100;
    }
  }
}
