$black: rgba(72, 73, 73, 100);
$white: rgba(244, 247, 249, 100);
$blue: rgba(4, 195, 216, 100);
$bluehighlight: rgba($blue, 0.8);
$yellow: rgba(249, 221, 4, 100);
$yellowhighlight: rgba($yellow, 0.8);
$red: rgba(249, 53, 4, 100);
$red: #F93959;
$redhighlight: rgba($red, 0.8);
