<!DOCTYPE html>
<html lang="en" ng-app="webApp">
<head>
  <title>Maxwell Freudenthal</title>
  <link href='https://fonts.googleapis.com/css?family=Life+Savers' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/styles/main.css" />
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="assets/scripts/client.min.js"></script>
  <base href="/">
</head>

<body ng-controller="MainController">

  <nav class="main-nav">
    <ul>
      <li ng-click="goTo('name')">Maxwell</li>
      <li ng-click="goTo('profile')">Profile</li>
      <li ng-click="goTo('work')">Body of Work</li>
      <li ng-click="goTo('skills')">Skills</li>
      <li ng-click="goTo('experience')">Experience</li>
      <li ng-click="goTo('clients')">Clients</li>
    </ul>
  </nav>

  <div id="name" class="panel name">
    <div class="container">
      <h1>Maxwell Freudenthal</h1>
      <hr />
      <h3>Multimedia Designer</h3>
      <!-- <div class="icons">
        <h4>[Here will be icons that link your sites...like twitter or something]</h4>
      </div> -->
      <div class="tagline">
        <h4>The story comes first. Period.</h4>
        <!-- <div class="story-container">
          <p>STORY COMES</p>
          <p class="first">FIRST.</p>
        </div>
        <div class="period-container">
          <p class="period">PERIOD.</p> -->
        </div>
      </div>
    </div>
  </div>

  <div id="profile" class="panel profile">
    <div class="container">
      <h2 class="title">Profile</h2>

      <img class="splash" src="assets/images/splashPic.jpg" />
      <p>
        I grew up in Wautoma, Wisconsin, a town of 2,000 people. I spent my early years reading books, singing songs, painting pictures, and watching movies.</br></br>

        I left home and ventured to the magical land of Minneapolis to pursue a career in art. Four years later, I graduated from the Minneapolis College of Art and Design with a BFA in Filmmaking. While in school, I produced a feature-length musical and started designing at 3M full-time. After my contract ended, I found myself in the Creative Services department of FOX9, doing all the things I love.</br></br>

        I now live in St Paul with my dog, Chewie. In my free time I enjoy reading books, singing songs, painting pictures, and watching movies.</br></br>

        I guess some things never change.</br></br>
      </p>

    </div>
  </div>

  <div ng-controller="WorkController" id="work" class="panel work">
    <div class="container">
      <h2 class="title">Body of Work</h2>
      <nav class="work-nav">
        <ul>
          <li ng-click="showItems(films)">Film</li>
          <li ng-click="showItems(commercial)">Commercial</li>
          <li ng-click="showItems(paintings)">Paintings</li>
          <li ng-click="showItems(whiteBoard)">White Board</li>
          <li ng-click="showItems(Undone)">Undone</li>
        </ul>
      </nav>

      <div class="work-holder" ng-repeat="item in itemsToDisplay">
        <img src="{{item.image}}"/>
        <div class="work-slideover">
          <h4 class="work-title">{{item.title}}</h4>
          <p>{{item.description}}</p>
        </div>
      </div>

    </div>
  </div>

  <div id="skills" class="panel skills">
    <div class="container">
      <h2 class="title">Skills</h2>

    </div>
  </div>

  <div id="experience" class="panel experience">
    <div class="container">
      <h2 class="title">Experience</h2>

    </div>
  </div>

  <div id="clients" class="panel clients">
    <div class="container">
      <h2 class="title">Clients</h2>

    </div>
  </div>

  <footer>

  </footer>
</body>

</html>
