<!DOCTYPE html>

<html lang="en">
<head>
  <title>Maxwell Freudenthal</title>
  <link rel="stylesheet" href="assets/styles/main.css" />
  <script src="vendor/angular/angular.min.js"></script>
  <script src="assets/scripts/client.min.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li>Profile</li>
      <li>Programs</li>
      <li>Experience</li>
      <li>Credentials</li>
      <li>Clients</li>
    </ul>

  </nav>

  <div class="panel name">
    <div class="container">
      <h1>Maxwell Freudenthal</h1>
      <hr />
      <h3>Multimedia Designer</h3>
    </div>
  </div>

  <div class="panel profile">
    <div class="container">
      <h2>Profile</h2>

    </div>
  </div>

  <div class="panel programs">
    <div class="container">
      <h2>Programs</h2>

    </div>
  </div>

  <div class="panel experience">
    <div class="container">
      <h2>Experience</h2>

    </div>
  </div>

  <div class="panel credentials">
    <div class="container">
      <h2>Credentials</h2>

    </div>
  </div>

  <div class="panel clients">
    <div class="container">
      <h2>Clients</h2>

    </div>
  </div>

  <footer>

  </footer>
</body>

</html>
